html {
  font-size: 16px;
}

h1 {
  /* color: lightblue; */
  /* 0 9 a f total is 16  , 255*/
  /* color: green; */
  /* color: #000000; */
  /* color: #000000;
  background-color: #ff0000; */
  /* opacity: 0.75;   = 0 - 1 */
  /* color: rgb(120, 25, 55); */
  /* color: rgba(255, 0, 0,0.7); */
  /* color: #33ff33;
  color: #3f3; */
  /* hue saturation lightness */
  /* color: hsl(260,100%,0%) */
  color: hsla(280, 100%, 50%, 1);
  /* em */
  font-size: 4em;
  /* font-size: 64px; */
}

body {
  /* background-color: #ff00ee;
  background-color: #f0e; */
  /* color: #000000;  = black*/
  /* color: #ffffff; white */
  /* background-color: #ff0000; */
  /* background-color: #00ff00; */
  /* background-color: #340000; */
  background-color: hsl(300, 100%, 80%);
}