.block {
  background-color: aquamarine;
}

/* .block h2 */
.block__header {
  color: white
}


/* .block p */
.block__text {
  color: darkkhaki
}

/* .block button */
.block__btn {
  font-style: italic;
  text-transform: uppercase;
}

.block__btn--danger {
  background-color: red;
}

.block__btn--default {
  background-color: darkgrey;
}

.news p {
  /*  */
}
.news button {
  /*  */
}